[Unit]
Description=dtables - Docker compatible Iptables firewall
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/dtables/script/dtables.start.sh
RemainAfterExit=yes
ExecStopPost=/etc/dtables/script/dtables.stop.sh

[Install]
WantedBy=multi-user.target